<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spar.Gateway.RemittanceAdvice.Properties.Settings.SparDSConnectionString"
            connectionString="Data Source=WIN-T7E7SGQR2OL;Initial Catalog=SparDS;User ID=sa;Password=G8t3W8y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>