<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ShopriteDivision" value ="Shoprite-HeadOffice"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength ="2147483647" executionTimeout="1000" targetFramework="4.5"  />
  </system.web>
  <system.transactions >
    <defaultSettings timeout ="00:20:00"/>
  </system.transactions>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ShopriteServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="httpbinding"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout ="01:10:00" receiveTimeout ="01:10:00" closeTimeout ="01:10:00" openTimeout="01:10:00"  >
          <!--<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />-->
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <services>
      <service name="Shoprite.ShopriteDataImportService" behaviorConfiguration="ShopriteServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="BizToDBIntegration.WcfContracts.IImportData"
                  bindingConfiguration="httpbinding" />

      </service>
    </services>
     
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="Shoprite.Gateway.ProductList.Properties.Settings.TradingBridgeDomainConnectionString"
            connectionString="Data Source=41.21.207.234,1433;Initial Catalog=TradingBridgeDomain;User ID=TradingBridge;Password=(,@3kF!]+S+#;Integrated Security=false;Connect Timeout=600000"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>