<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spar.Gateway.ReconImport.Properties.Settings.SparDSConnectionString"
            connectionString="Data Source=192.168.101.36,1433;Initial Catalog=SparDS;Integrated Security=false; User ID=sa;Password=ECsqlOnline!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>